<img src="/img/aicraft.png" /><br /><br />
<br /><br /><br />
<div style="max-width: 700px">
	A.I Crafter is a web based multi-player artificial intelligence combating game driven by programming competition between players. Players provide their code in real-time to control their crafts, in order to beat the opposite crafts. The idea of the game is inspired by a recent popular practice named “live-coding”, where programmers perform art using their programming skills in real-time to interactively improvised their code on the fly. 
	<br /><br />
	<a href="https://github.com/gzmask/aicraft/blob/master/paper/aicraft.pdf?raw=true">The Paper</a><br />
	<a href="https://github.com/gzmask/aicraft">The Repository</a><br />
</div>
<br /><br /><br /><br /><br /><br />
<br />
<h2>Updates</h2>
<br />
======Jan 29th======
<br />
The gamification movement for the internet has begun: <a href="http://www.fitocracy.com/">fitness gamified</a>
<br />
<br />
======Jan 29th======
<br />
<a href="http://www.judegomila.com/2012/01/challengeyourself-in-2012-ivelisted.html">25 Startup ideas</a>, A.I crafter should be classified as gamify programming learning.  <br />
Another web site worth looking into: <a href="http://www.codecademy.com/">codecademy</a> 
<br />
<br />
======Jan 23rd======
<br />
ANDY YOUNG explains the importance of learning to code:
<a href="http://www.kernelmag.com/comment/column/1264/coding-for-success/">Coding for Success</a>
<br />
<br />
======Jan 22rd======
<br />
<a href="/game"> Game engine sandbox: </a>
<br />
<br />
<br />
<br />
Preview version coming at April, 2012. <br />
Contact me @<a href="mailto:gzmask@gmail.com">gzmask@gmail.com</a>
