<img src="/img/aicraft.png" /><br /><br />
<br /><br /><br />
<div class="core">
	AIcraft is a web based multi-player artificial intelligence combating game driven by programming competition between players. Players provide their code in real-time to control their AIs, in order to beat the opposite AIs. 
	<br /><br />
	<a href="https://docs.google.com/viewer?url=aicraft.org/paper/aicraft.pdf">The Paper</a><br />
<br /><br /><br /><br /><br /><br />

	<h2>Updates</h2>

	<div class="news">
		Second screen cast of the game:
		<iframe width="560" height="315" src="http://www.youtube.com/embed/3Q9oi2Wh3co" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="news">
		A screen cast of the game:
		<iframe width="560" height="315" src="http://www.youtube.com/embed/7HlhLaMEuRs" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="news">
		The presentation I gave at my Class: <a href="/class_presentation/index.html">presentation</a>
	</div>

	<div class="news">
		The presentation I gave at URGSA: <a href="/presentation/index.html">presentation</a>
	</div>

	<div class="news">
		The gamification has begun: <a href="http://www.fitocracy.com/">fitness gamified</a>
	</div>

	<div class="news">
		<a href="http://www.codecademy.com/">codecademy</a> is a good complement site for beginners to this game.
	</div>

	<div class="news">
		ANDY YOUNG explains the importance of learning to code:
		<a href="http://www.kernelmag.com/comment/column/1264/coding-for-success/">Coding for Success</a>
	</div>
</div>
<br /><br />
<div class="core">
	Preview version coming at April, 2012. <br />
	Contact me @<a href="mailto:gzmask@gmail.com">gzmask@gmail.com</a>
</div>
