<img src="/img/aicraft.png" /><br /><br />
<br /><br /><br /><br /><br /><br />
<div style="max-width: 800px">
	A.I Crafter is a web based multi-player artificial intelligence combating game driven by programming competition between players. Players provide their code in real-time to control their crafts, in order to beat the opposite crafts. The idea of the game is inspired by a recently made popular practice named “live-coding”, where programmers perform art using their programming skills in real-time to interactively improvised their code on the fly. 
	<br /><br />
	Gamify Learning has proven to be effective for education purpose for “hunting-like” activities. Today’s society has evolved from “hunter-centric” to “developer-centric”. While we have many video games to practice hunting skills in a fun way, there isn’t too much efforts made for development skills. 
	<br /><br />
	The motivations of A.I Crafter are to: 1. learn programming in a fun environment; 2. practice development skills in a competitive manner against human players; 3. transform live-coding into a new genre of gaming; 4. research artificial intelligence algorithms.
	<br /><br />
	The current language of choice is javascript. Technologies involved are: WebGL, Node.JS, HTML5.
	<br /><br />
	<a href="https://github.com/gzmask/aicraft/blob/master/paper/aicraft.pdf?raw=true">The Paper</a>&nbsp;
	<a href="https://github.com/gzmask/aicraft">The Repository</a><br />
</div>
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br />
<h2>Updates</h2>
<br />
======Jan 29rd======
<br />
<a href="http://www.judegomila.com/2012/01/challengeyourself-in-2012-ivelisted.html">25 Startup ideas</a>, A.I crafter should be classified as "gamify learning"?  <br />
Another web site worth looking into: <a href="http://www.codecademy.com/">codecademy</a> 
<br />
<br />
======Jan 23rd======
<br />
ANDY YOUNG explains the importance of learning to code:
<a href="http://www.kernelmag.com/comment/column/1264/coding-for-success/">Coding for Success</a>
<br />
<br />
======Jan 22rd======
<br />
<a href="/game"> Game engine sandbox: </a>
<br />
<br />
<br />
<br />
Preview version coming at April, 2012. <br />
Contact me @<a href="mailto:gzmask@gmail.com">gzmask@gmail.com</a>
