<img src="/img/aicraft.png" /><br /><br />
<a href="https://github.com/gzmask/aicraft/blob/master/paper/aicraft.pdf?raw=true">The Paper</a>&nbsp;
<a href="https://github.com/gzmask/aicraft">The Repository</a>
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br />
<h2>Updates</h2>
<br />
======Jan 23rd======
<br />
ANDY YOUNG explains the importance of learning to code:
<a href="http://www.kernelmag.com/comment/column/1264/coding-for-success/">Coding for Success</a>
<br />
<br />
======Jan 22rd======
<br />
<a href="/game"> Game engine sandbox: </a>
<br />
<br />
<br />
<br />
Preview version coming at April, 2012. <br />
Contact me @<a href="mailto:gzmask@gmail.com">gzmask@gmail.com</a>
