body, html {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  overflow: auto;
}

.news {
  color: #fff;
  width: 40%;
  background-color: #707070;
  margin-top: 20px;
  margin-right: 20px;
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  border-radius: 4px;
  text-shadow: 1px 1px 1px #000;
}

div.core {  
    display: block;  
	width: 700px;
}  


a:link {
	color: #4c8ccc; 
	text-decoration:none;
}
a:visited {
	color: #4c8ccc; 
	text-decoration:none;
}
a:hover {
	color:#0c0; 
	text-decoration:underline;
}
a:active {
	color:#0c0; 
	text-decoration:underline;
}

#container {
	margin: 150px;
}

