<!doctype html>
<html>
	<head>
		<title>A.I Crafter Engine test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		<!--physic and graphic engines-->
		<script src="js/three.js"></script>
		<script src="js/ammo.js"></script>

		<!--game engine-->
		<script src="aicraft/aicraft.js"></script>
		<script src="aicraft/core/gameobject.js"></script>
		<script src="aicraft/gameobjects/ai.js"></script>
		<script src="aicraft/gameobjects/player.js"></script>

		<!--wrapper for plugins-->
		<script src="vendor/three.js/Detector.js"></script>
		<script src="vendor/three.js/Stats.js"></script>
		<script src="vendor/threex/THREEx.screenshot.js"></script>
		<script src="vendor/threex/THREEx.FullScreen.js"></script>
		<script src="vendor/threex/THREEx.WindowResize.js"></script>
		<script src="vendor/threex/THREEx.KeyboardState.js"></script>
		<script src="vendor/threex.dragpancontrols.js"></script>

		<link  href="css/main.css" rel="stylesheet"/>
	</head>
<body>
	<!-- three.js container -->
    	<div id="container"></div>
	<!-- info on screen display -->
	<div id="info">
		<div class="bottom" id="inlineDoc" >
			- <i>p</i> for screenshot
		</div> 
	</div> 
		<%- body %>
</body>
</html>
